<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1</h1>
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nulla atque adipisci. Dolor nulla sunt eligendi velit non perspiciatis obcaecati similique blanditiis earum nihil magnam maxime sequi, aspernatur, omnis aperiam?
            </p>
            <li>
                <h1>Estudios 2</h1>
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nulla atque adipisci. Dolor nulla sunt eligendi velit non perspiciatis obcaecati similique blanditiis earum nihil magnam maxime sequi, aspernatur, omnis aperiam?
            </p>
            <li>
                <h1>Estudios 3</h1>
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nulla atque adipisci. Dolor nulla sunt eligendi velit non perspiciatis obcaecati similique blanditiis earum nihil magnam maxime sequi, aspernatur, omnis aperiam?
            </p>
        </ul>
    </div>
</div>>